# Intended to be sourced into a running interactive login (via ~/.bash_profile)
# or non-login shell (via ~/.bashrc). Some of these are platform specific.


alias ls='ls -v --group-directories-first --color=auto'
alias ll='ls -AlHv --group-directories-first --color=auto'


alias rm='rm -v'
alias cp='cp -v'
alias mv='mv -v'

